body {
  background-color: rgb(61, 60, 68);
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: "Chakra Petch", sans-serif;
  color: rgb(240, 240, 255)
}

h2 {
  text-align: center;
  font-family:monospace;
  font-size: 30px;
  margin-bottom: 15vh;
}

h3 {
  text-align: center;
  font-size: 40px;
  font-family: "Chakra Petch", sans-serif;
}

h4 {
  text-align: center;
  margin-top: 70px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 30px;
}

.boom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#change {
  display: flex;
  flex-direction: column;
}

#totaldisplay {
  background-color: rgb(116, 117, 134);
  text-align: center;
  border-radius: 5%;
  border: rgb(240, 240, 255) 3px solid;
  height: 50vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
}

#customer img {
  width: 15vw;
  align-items: center;
}

#customer {
  width: 25vw;
  text-align: center;
  background-color: rgb(116, 117, 134);
  height: 50vh;
  border-radius: 5%;
  border: 3px solid rgb(240, 240, 255);
}

#mobs {
  background-color: rgb(116, 117, 134);
  width: 25vw;
  height: 50vh;
  border-radius: 5%;
  border: rgb(240, 240, 255) 3px solid;
}

#change input {
  color: rgb(255, 255, 255);
  background-color: rgb(61, 60, 68);
  font-size: 30px;
  text-align: center;
  margin-top: 0.1vh;
  width: 15vw;
  align-self: center;
  margin-bottom: 1vw;
  height: 5vh;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 5%;
} 

#bttn {
  color: rgb(0, 0, 0);
  width: 10vw;
  height: 4vh;
  font-size: 18px;
  align-self: center;
  background-color: rgb(255, 255, 255);
  border: rgb(61, 60, 68) solid 3px;
  border-radius: 5%;
}

#bttn:hover {
  transform: scale(105%);
  border: solid white 3px;
  background-color: rgb(61, 60, 68);
  color: white;
  border-radius: 5%;
}

#totalprice {
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "Chakra Petch", sans-serif;
  font-size: 35px;
}