body {
    background-color: rgb(93, 90, 85);
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Chakra Petch', sans-serif;
   
}

.boom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.change {
    display: flex;
}

img {
    width: 60vw;
}

